*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: #211e2b;
  --clr-bg-light: #31294c;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gamelist-container {
  display: grid;
  grid-gap: 1rem;
  padding: 0 5rem 4rem 5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  background-color: var(--clr-bg);
}

.filter-container {
  background-color: var(--clr-bg);
  padding: 5rem 0 4rem 0;
}

@media (min-width: 770px) and (max-width: 1200px) {
  .gamelist-container {
    padding: 0 3rem 4rem 3rem;
  }
}

@media (min-width: 0) and (max-width: 769px) {
  .gamelist-container {
    padding: 0 2rem 4rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
  }
}
